body
{
    font-family: Arial, sans-serif;
    background-color: rgb(234, 241, 244);
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
  }

.header
{
  background-color: skyblue;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
  }


  .logout a {
    font-size: 1em;
    color: white;
  }

  nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: #424a5b;
    padding-top: 30px;
    overflow-y: auto;
    z-index: 900;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  ul li {
    padding: 15px 0;
  }
  
  ul li a {
    color: white;
    font-weight: bold;
    display: block;
  }
  
  ul li a:hover {
    color: skyblue;
  }
  .down-part {
    display: flex;
    padding-top: 60px;
  }
  
  main {
    margin-left: 300px;
    padding: 50px;
  }
  
  .container {
    margin: 0 auto;
    background-color: white;
    max-width: 700px;
  }

.bar{
    background-color: skyblue;
    width: 540px;
}