body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .header {
    background-color: skyblue;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
  }
  
  .logout a {
    font-size: 1em;
    color: white;
  }
  
  .down-part {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
  }
  
  nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: #424a5b;
    padding-top: 30px;
    overflow-y: auto;
    z-index: 900;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  ul li {
    padding: 15px 0;
  }
  
  ul li a {
    color: white;
    font-weight: bold;
    display: block;
  }
  
  ul li a:hover {
    color: skyblue;
  }
  
  main {
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f5f5f5;
  }
  
  .content {
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
  }
  
  .main-container {
    display: grid;
    gap: 20px;
  }
  
  .container-employee-details,
  .container-leave-form {
    width: 100%;
    background-color: #87ceeb;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container-employee-details {
    padding: 0px 20px 15px 20px;
  }
  
  .container-leave-form {
    font-size: 18px;
    padding: 0px 20px 0px 20px;
    height: auto;
  }
  
  .info {
    background-color: rgb(178, 228, 248);
    padding: 5px 20px;
  }
  
  .details {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .index {
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  
  .value {
    flex: 1;
    margin-left: 10px;
    font-size: 18px;
    color: black;
  }
  
  .heading {
    margin-bottom: 10px;
  }
  
  .first-row,
  .last-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-group {
    flex-grow: 1;
  }
  
  .label-form {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .input-form,
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #4b4b4b;
    border-radius: 3px;
    font-size: 16px;
    background-color: rgb(225, 246, 254);
  }
  
  .textarea {
    height: 80px;
    resize: vertical;
  }
  
  .submit-btn {
    background-color: rgb(181, 230, 250);
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 7px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    height: 43px;
    margin-top: 27.5px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  tr {
    background-color: white;
    height: 50px;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      position: relative;
      width: 100%;
      max-width: none;
      padding: 10px 0;
    }
  
    main {
      margin-left: 0;
    }
  
    .content {
      margin-top: 20px;
    }
  
    .main-container {
      grid-template-columns: 1fr;
    }
  
    .container-employee-details,
    .container-leave-form {
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 480px) {
    .header a {
      font-size: 1em;
    }
  
    .logout a {
      font-size: 0.8em;
    }
  
    ul li {
      padding: 10px 0;
    }
  
    .details {
      font-size: 18px;
    }
  
    .index {
      width: 100%;
    }
  
    .value {
      margin-left: 0;
    }
  }