body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .header {
    background-color: skyblue;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header a {
    font-size: 1.2em;
    color: black;
    text-decoration: none;
  }
  
  .logout a {
    font-size: 1em;
    color: white;
  }
  
  .down-part {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
  }
  
  nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 300px;
    background-color: #424a5b;
    padding-top: 30px;
    overflow-y: auto;
    z-index: 900;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  ul li {
    padding: 15px 0;
  }
  
  ul li a {
    color: white;
    font-weight: bold;
    display: block;
  }
  
  ul li a:hover {
    color: skyblue;
  }
  
  main {
    margin-left: 300px;
    padding: 20px;
    flex-grow: 1;
    background-color: #f5f5f5;
  }
  
  .content {
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
  }
  
  .container-employee-details {
    width: 100%;
    background-color: #87ceeb;
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0px 20px 15px 20px;
    border-radius: 10px;
  }
  
  .info {
    background-color: rgb(178, 228, 248);
    border: 1px solid #000000;
    padding: 5px 20px;
    border-radius: 10px;
  }
  
  .details {
    font-size: 20px;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .index {
    width: 250px;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  
  .value {
    flex: 1;
    margin-left: 10px;
    font-size: 18px;
    color: black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th,
  td {
    border: 1px solid black;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
    font-size: 16px;
  }
  
  tr {
    background-color: white;
    height: 50px;
  }
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav {
      position: relative;
      width: 100%;
      max-width: none;
      padding: 10px 0;
    }
  
    main {
      margin-left: 0;
    }
  
    .content {
      margin-top: 20px;
    }
  
    .main-container {
      grid-template-columns: 1fr;
    }
  
    .container-employee-details {
      margin-bottom: 20px;
    }
  
    table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  
  @media (max-width: 480px) {
    .header a {
      font-size: 1em;
    }
  
    .logout a {
      font-size: 0.8em;
    }
  
    ul li {
      padding: 10px 0;
    }
  
    .details {
      font-size: 18px;
    }
  
    .index {
      width: 100%;
    }
  
    .value {
      margin-left: 0;
    }
  
    table,
    th,
    td {
      font-size: 14px;
      padding: 5px;
    }
  }