/* join.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(234, 241, 244);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: skyblue;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header a {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
}

.logout a {
  font-size: 1em;
  color: white;
}

nav {
  position: fixed;
  top: 60px;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 300px;
  background-color: #424a5b;
  padding-top: 30px;
  overflow-y: auto;
  z-index: 900;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

ul li {
  padding: 15px 0;
}

ul li a {
  color: white;
  font-weight: bold;
  display: block;
}

ul li a:hover {
  color: skyblue;
}

.down-part {
  display: flex;
  padding-top: 60px;
}

main {
  flex: 1;
  margin-left: 300px;
  padding: 50px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

th {
  background-color: rgb(234, 241, 244);
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
  width: calc(100% - 22px);
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"] {
  margin-right: 10px;
}

.confirmation {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.confirmation p {
  margin: 0;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-bottom: 10px;
  }

  nav {
    position: relative;
    width: 100%;
    max-width: none;
    top: 0;
    left: 0;
  }

  main {
    margin-left: 0;
    padding: 10px;
  }

  .container {
    width: 90%;
    margin: 70px auto;
  }

  table,
  th,
  td {
    display: block;
    width: 100%;
  }

  th,
  td {
    padding: 10px 5px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  input[type="text"],
  input[type="date"],
  input[type="tel"],
  input[type="email"],
  select {
    width: calc(100% - 22px);
  }
}
